* {
	margin: 0;
	padding: 0;
	border: none;
	font-family: arial;
}
html, body {
	height: 100%;
	overflow: hidden;
}
body {
	--pattern-color: #063809;
	background:
		radial-gradient(transparent 31px, var(--pattern-color) 32px, var(--pattern-color) 33px, transparent 34px) 0px 0px,
		radial-gradient(transparent 31px, var(--pattern-color) 32px, var(--pattern-color) 33px, transparent 34px) 30px 30px;
	background-size: 60px 60px;
	background-color: #043007;
	
	container: body / size;
}

.playzone {
	width: min(99vw, 75svh);
	height: min(99vw, 75svh);
	
	position:absolute;
	top:50%;
	left:50%;
	translate: -50% -50%;
	
	container: board / size;
}

@container board (width>0) {
	.board {
		--light-x: 0.4; /* in [0,1] */
		--light-y: 0.3;
		--color: #ffb453;
		--stripes-color: rgba(113,88,66,.1);
		
		box-sizing: border-box;
		width: 100cqmin;
		height: 100cqmin;
		padding: 10cqmin;
		border-radius: 50%;
		
		display: flex;
		justify-content: center;
		align-items: center;
		
		background:
			radial-gradient(transparent 61%, var(--color), transparent 68%) calc((.5 - var(--light-x))*4cqmin) calc((.5 - var(--light-y))*4cqmin),
			radial-gradient(transparent 60%, rgba(0,0,0,.5) 61%, rgba(0,0,0,.5) 68%, transparent 69%, transparent 70%, rgba(255,255,255,.3) 70.5%, transparent 71%),
			linear-gradient(transparent, transparent 60%, var(--stripes-color) 65%, var(--stripes-color) 95%, transparent);
		background-size: auto, auto, auto 2%;
		background-color: var(--color);
		box-shadow: 0 2cqmin rgba(0,0,0,.48), 0 2cqmin var(--color);
		filter: drop-shadow(calc((.5 - var(--light-x))*20cqmin) calc((.5 - var(--light-y))*20cqmin) 1cqmin rgba(0,0,0,.3));
	}
	.board.square { padding: 18cqmin; }
	
	.grid {
		--ratio: 1;
		width: min(100%, 100%*var(--ratio));
		height: min(100%, 100%/var(--ratio));
		display: flex;
		flex-direction: column;
	}
	.grid.hex {
		width: min(100%, 100%*var(--ratio)/.866); /* sin(60deg)~=0.866 */
		height: min(100%, calc(100%/var(--ratio)*.866));
	}
	.grid.hex .row:nth-child(even) { translate: calc(50%/var(--cols)) 0; }
	.grid.hex.odd  { translate: calc(-50%/var(--cols)) 0; }
	.grid.hex.both { translate: calc(-25%/var(--cols)) 0; }
	
	.row {
		flex: 1;
		display: flex;
	}
	.row > div {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.hole, .peg {
		display: inline-block;
		height: 80%;
		aspect-ratio: 1;
		border-radius: 50%;
	}
	.hole {
		background: radial-gradient(circle at calc(100%*(1 - var(--light-x))) calc(100%*(1 - var(--light-y))), rgba(0,0,0,.1), rgba(0,0,0,.5) 80%, rgba(0,0,0,.8));
	}
	.peg {
		background: radial-gradient(circle at calc(100%*var(--light-x)) calc(100%*var(--light-y)), rgba(255,255,255,.6), rgba(255,255,255,.2) 20%, transparent 40%, rgba(0,0,0,.8));
		background-color: #5c2307;
		filter: drop-shadow(calc((.5 - var(--light-x))*8cqmin) calc((.5 - var(--light-y))*8cqmin) .8cqmin rgba(0,0,0,0.6));
	}
	.peg.selected {
		filter: none;
		box-shadow: -.15cqmin -.15cqmin .8cqmin .8cqmin #382fc2;
	}
	.grid.hex :is(.peg, .hole) {
		height: 90%;
	}

	@keyframes wrong {
		0% 	{ transform: translateX(0) }
		20% { transform: translateX(-2%) }
		40% { transform: translateX(2%) }
		60% { transform: translateX(-2%) }
		80% { transform: translateX(2%) }
		100%{ transform: translateX(0) }
	}
}

.controls {
	position: absolute;
	width: 100%;
}
.control {
	background: none;
	color: #ccc;
	font-size: 14cqmin;
	font-weight: bold;
	line-height: 1em;
}
.control::before { vertical-align: top; }
.control:disabled::before { color: #888; opacity: .7; }
.control:enabled:hover { color: #fff; }
.control:enabled:active { scale: .9; }
.control.undo::before { content: "\27F2"; }
.control.hint::before { content: "?"; }
.control.prev::before { content: "\3008\00a0\00a0"; }
.control.next::before { content: "\00a0\00a0\3009"; }
.undo, .hint { z-index: 1; }

@container body (width>120svh) {
	.controls { top: 0; height: 100%; }
	.control { position: absolute; }
	.control.undo { top: 75svh; left: calc(50% - 40svh); }
	.control.hint { top: 75svh; right: calc(50% - 40svh); }
	.control.prev { top: 50%; left: calc((50% - 50svh)/2); translate: 0 -50%; }
	.control.next { top: 50%; right: calc((50% - 50svh)/2); translate: 0 -50%; }
}
@container body not (width>120svh) {
	.controls {
		display: flex;
		bottom: 0;
		height: 10%;
	}
	.control {
		flex: 1;
		font-size: 10svh;
		background: #384355;
		border-top: 1px solid #7c8697;
		border-left: 1px solid #4e586a;
		border-right: 1px solid #222b3a;
	}
	.control.undo { order: 2; }
	.control.hint { order: 3; }
	.control.prev { order: 1; }
	.control.next { order: 4; }
	.control.prev::before { font-size: .8em; }
	.control.next::before { font-size: .8em; }
}

#debug {
	padding: 10px;
}